services:
  spellbook-app:
    build: .
    container_name: my-spellbook
    ports:
      - "3000:3000"
    restart: always
    # This line passes the .env file to your Node.js app
    env_file:
      - .env
    depends_on:
      - db
  db:
    image: postgres:latest
    restart: always
    # The 'db' service also uses the .env file
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: